/* Basic styling */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding-bottom: 20px;
}


/* Navigation bar styling */
nav {
    background-color: #EDE5DE;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo img {
    max-width: 100px;
    margin-right: 30px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin-right: 40px; /* Increased margin between pages */
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: #000; 
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: medium;
}

.language {
    margin-left: auto;
}

.language select {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.logo img {
    max-width: 100px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 30px;
}

.banner {
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 525px;
}

.banner img {
    width: 100%;
    height: 100%; 
    object-fit: cover; /* Ensure the image covers the entire banner */
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 100%; 
    max-width: 500px; 
}

.banner-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #f0f0f0;
}

/* Purpose section styling */
.purpose {
    text-align: center;
    margin-top: 20px;
}

.purpose p {
    font-family: 'Lato', sans-serif; 
    font-size: 20px;
    padding: 80px 200px; 
}

/* About Us section styling */
.about-us {
    margin-top: 50px;
}

.about-us h2 {
    font-family: 'Lato', sans-serif; 
    font-size: 48px;
    margin-bottom: 50px;
    padding: 0 200px; 
}

.about-us p {
    font-family: 'Lato', sans-serif; 
    font-size: 20px;
    padding: 20px 200px 80px; 
    line-height: 1.5;
}

/* Team images styling */
.team-images {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    padding: 0 200px; /* Add padding */
}

.team-images img {
    max-width: 48%; /* Adjust as needed */
}

.our-partners {
    margin-top: 100px;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list-item {
    border-bottom: 1px solid gray;
    padding: 10px 0;
}

.our-partners h2 {
    font-family: 'Lato', sans-serif; /* Match the font */
    font-size: 48px;
    margin-bottom: 50px;
    padding: 20px 200px; /* Add padding */
}

/* Homepage styling */
.homepage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }
  
  .step {
    display: flex;
    flex: 1;
    margin: 10px;
    padding: 40px 50px;
    overflow: hidden;
  }
  
  .step-image {
    flex: 1;
    padding: 0 40px;
  }
  
  .step-image img {
    width: 100%;
    height: auto;
  }
  
  .step-content {
    flex: 1;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .step-content h3 {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
    
  }
  
  .step-content p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 20px 40px;
    text-align: center;
    line-height: 1.5;
  }
  
  .learn-more {
    display: inline-flex; /* Change display to inline-flex */
    padding: 10px 10px;
    background-color: white;
    color: black;
    border: 1px solid #000;
    text-decoration: none;
    border-radius: 1px;
  }
  
  .learn-more:hover {
    background-color: #EDE5DE;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    border: 2px solid black;
    padding: 20px;
}

.bold {
    font-weight: bold;
}