/* MapContainer */
.map-container {
  width: 1000px;
  height: 500px;
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 20px;

  
}
.sidebar-container{
 background-color: #f1f1f1; /* Choose your desired background color */
  width: 250px;
  height: 100%;
}

.filter-container{
  padding-bottom: 15px;
}

/* Toggle container */
.toggle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin-right: 10px;

}

/* Toggles */
.toggle-container label .filter-container label{
  margin-right: 10px; 
  display: flexbox;

}

/* MapContainer */
.justmap {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center; 
  align-items: center; 
 
}

/* Map */
#map {
  height: 100%;
}

.map-container-inpage{
  display: flex;
  justify-content: center;
}

.toggle-label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  padding-left: 5px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
}

.checkbox-container label {
  margin-bottom: 5px;
}


.filter-header {
  display: flex; /* Use flexbox to make the headers span across */
  justify-content: space-between; /* Align items equally at each end */
  align-items: center; /* Align items vertically in the center */
  font-size: 18px;
  margin-bottom: 10px;
  padding: 15px; /* Add padding to increase thickness */
  width: 100%; /* Adjust width to account for padding */
  background-color: #292c63 ;
  color: white;
}

.cardview-container {
  width: 250px;
  height: 300px;
}
.card-view-container {
  width: 250px;
  height: 100%;
  overflow-y: auto;
}
.card-list {
  width: 100%; /* Make the card list fill the container width */
  padding: 10px; /* Adjust padding as needed */
 
}

.mapcard {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin: 10px;
  height: 100%; /* Ensure the card fills the entire height of its container */
  /* overflow-y: auto; */
  box-sizing: border-box; /* Include padding and border in the card's total width and height */
}

.mapcard p {
  padding: 1px; /* Add padding as needed */
  font-size: 10px;
  margin: 1px 0; 
  
  /* You can also adjust other styles like font size, color, etc. */
}

.mapcard h3{
  font-size: 12px;
  align-self: center;
}

.filteroption-image{
  padding-right: 4px;
  max-width: 30px;
}