/*** Revision General card styles ***/

/* Card container */
.card {
  border: 1px solid #ccc;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create 2 columns of equal width */
  gap: 30px; /* Add space between cards */
  row-gap: 70px;
  margin: 0 auto; /* Center the card container horizontally */
  padding: 20px 230px; /* Add padding around the card container */
  justify-content: center;
  
}
/* Card image */
.card-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* Card content */
.card-content {
  padding: 25px;
}

/* Card info (type and date) */
.card-info {
  display: flex;
  flex-direction: column; /* Arrange type and date in a column */
  gap: 10px; /* Add some space between the type and date */
  margin-bottom: 15px; /* Add some space between card info and title */
}

.type {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding: 2px 8px; /* Adjusted padding */
  background-color: lightgray; /* Grey background */
  display: inline-block; /* Changed to inline to wrap around the content */
  margin-bottom: 10px; /* Space below the type */
  max-width: fit-content;
}

.date {
  font-family: 'Lato', sans-serif; 
  font-size: 15px;
  color: grey;
}

/* Title and description */
.title {
  font-family: 'Lato', sans-serif; 
  font-size: 19px;
  margin-bottom: 20px;
}

.description {
  font-family: 'Lato', sans-serif; 
  font-size: 16px;
  color: grey;
  margin-bottom: 30px;
}

/* Continue reading section */
.continue-reading {
  font-family: 'Lato', sans-serif; 
  text-align: right;
}

.continue-link {
  text-decoration: none;
  color: #007BFF;
  font-size: 15px;
}
