#map-container {
    position: relative;
    height: 600px;
}

#map {
    height: 100%;
    width: 75%;
    float: left;
}

#layer-control {
    width: 25%;
    float: right;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.category-checkbox {
    margin-bottom: 5px;
}

.category-checkbox label {
    cursor: pointer;
}

.category-checkbox input[type="checkbox"] {
    margin-right: 5px;
}
